<!DOCTYPE html>
<html{% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
      <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
  </head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <body id='body'>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
      <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
    <header>
      <a href="#" class="b-logo"></a>
      <div class="b-topmenu">
        <ul class="b-topmenu__list">
          <li class="b-topmenu__item b-topmenu__item_active"><a href="#">Главная</a></li>
          <li class="b-topmenu__item"><a href="#">Проекты</a></li>
          <li class="b-topmenu__item"><a href="#">Контакты</a></li>
        </ul>
      </div>
    </header>
    <div class="b-wide b-wide_documents">
      <div class="b-wide-wrapper">
        <div class="b-lefttab">
          <h1 class="b-lefttab__header">Елизарово</h1>
          <h2 class="b-lefttab__subheader">Коттеджный посёлок</h2>
          <div class="b-leftmenu">
            <ul>
              <li class="b-leftmenu__item b-leftmenu__item_active"><a href="#">О посёлке</a></li>
              <li class="b-leftmenu__item"><a href="#">Расположение</a></li>
              <li class="b-leftmenu__item"><a href="#">План посёлка</a></li>
              <li class="b-leftmenu__item"><a href="#">Галерея</a></li>
              <li class="b-leftmenu__item"><a href="#">Квартиры-апартаменты</a></li>
            </ul>
          </div>
        </div>
        <div class="b-documents">
          <div class="b-documents-header">
            <h3 class="g-header">Документы</h3>
          </div>
          <div class="b-documents-text">
            <p class='g-text-std'>Поселок расположен в 22 км от МКАД, вблизи деревни Елизарово Первомайского сельского округа Наро-Фоминского района московской области. Время в пути от МКАД до участков составляет примерно 20-25 минут по трассе М3-Украина</p>
          </div>
          <div class="b-documents-box b-documents-box_collapsed">
            <div class="b-documents-box__trigger"></div>
            <span class="b-documents-box__header">Проектная документация</span>
            <div class="b-documents-box__wrap">
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
            </div>
          </div>
          <div class="b-documents-box b-documents-box_open">
            <div class="b-documents-box__trigger"></div>
            <span class="b-documents-box__header">Проектная документация</span>
            <div class="b-documents-box__wrap">
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
            </div>
          </div>
          <div class="b-documents-box b-documents-box_collapsed">
            <div class="b-documents-box__trigger"></div>
            <span class="b-documents-box__header">Проектная документация</span>
            <div class="b-documents-box__wrap">
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
            </div>
          </div>
          <div class="b-documents-box b-documents-box_collapsed">
            <div class="b-documents-box__trigger"></div>
            <span class="b-documents-box__header">Проектная документация</span>
            <div class="b-documents-box__wrap">
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
              <a href="#" class="b-documents-box-doc">
                <span class="b-documents-box-doc__name">Разрешительный документ для строительства поселка с дополнительным соглашением</span>
                <span class="b-documents-box-doc__size">500 Кб</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="b-footer">
      <div class="b-footer-text">Google, 2016 - Условия использвания</div>
    </footer>
  </body>
</html>
