<!DOCTYPE html>
<html{% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
      <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
  </head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <body id='body'>
    <header>
      <a href="#" class="b-logo"></a>
      <div class="b-topmenu">
        <ul class="b-topmenu__list">
          <li class="b-topmenu__item b-topmenu__item_active"><a href="#">Главная</a></li>
          <li class="b-topmenu__item"><a href="#">Проекты</a></li>
          <li class="b-topmenu__item"><a href="#">Контакты</a></li>
        </ul>
      </div>
    </header>
    <div class="b-wide b-gallery-wrapper js-gallery-wrap">
      <div class="b-gallery b-gallery_main js-gallery">
        <ul class="b-gallery__list">
          <li class="b-gallery__item">
            <img src="http://loremflickr.com/1200/460/sun" alt="">
          </li>
          <li class="b-gallery__item">
            <img src="http://loremflickr.com/1200/460/grass" alt="">
          </li>
          <li class="b-gallery__item">
            <img src="http://loremflickr.com/1200/460/sunshine" alt="">
          </li>
          <li class="b-gallery__item">
            <img src="http://loremflickr.com/1200/40/cocaine" alt="">
          </li>
        </ul>
      </div>
      <div class="b-gallery__prev js-gallery-prev"></div>
      <div class="b-gallery__next js-gallery-next"></div>
    </div>
    <div class="b-content b-content_wide">
      <div class="b-content-topline"></div>
      <div class="b-headline-big b-headline-big_lined">
        <h1 class="b-headline-big__header">Елизарово</h1>
        <h2 class="b-headline-big__subheader">Коттеджный посёлок</h2>
        <div class="b-content__wrapper"></div>
      </div>
      <a class="b-show-more">Подробнее</a>
    </div>
    <footer class="b-footer">
      <div class="b-footer-text">Google, 2016 - Условия использвания</div>
    </footer>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
      <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
  </body>
</html>
