<!DOCTYPE html>
<html{% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
      <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
  </head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <body id='body'>
    <header>
      <a href="#" class="b-logo"></a>
      <div class="b-topmenu">
        <ul class="b-topmenu__list">
          <li class="b-topmenu__item b-topmenu__item_active"><a href="#">Главная</a></li>
          <li class="b-topmenu__item"><a href="#">Проекты</a></li>
          <li class="b-topmenu__item"><a href="#">Контакты</a></li>
        </ul>
      </div>
    </header>
    <div class="b-wide b-gallery-wrapper js-gallery-wrap">
      <div class="b-gallery b-gallery_main js-gallery">
        <ul class="b-gallery__list">
          <li class="b-gallery__item">
            <img src="http://lorempixel.com/1200/460/fashion/1" alt="">
          </li>
          <li class="b-gallery__item">
            <img src="http://lorempixel.com/1200/460/cats/2" alt="">
          </li>
          <li class="b-gallery__item">
            <img src="http://lorempixel.com/1200/460/fashion/3" alt="">
          </li>
          <li class="b-gallery__item">
            <img src="http://lorempixel.com/1200/460/cats/1" alt="">
          </li>
        </ul>
      </div>
      <div class="b-gallery__prev js-gallery-prev"></div>
      <div class="b-gallery__next js-gallery-next"></div>
    </div>
    <div class="b-content b-content_wide">
      <div class="b-content-topline"></div>
      <div class="b-headline-big b-headline-big_lined">
        <h1 class="b-headline-big__header">О компании</h1>
      </div>
      <div class="b-content__wrapper">
        <div class="b-content__block_left">
          <a class="b-show-more">Подробнее</a>
        </div>
         <div class="b-content__block js-custom-scroll">
            <p>Компания Ланд Хаус – молодая, но достаточно динамично развивающаяся девелоперская компания на рынке коттеджного и малоэтажного жилого строительства.</p>
            <p>В основе деятельности компании лежит опыт европейского подхода к строительству домов для постоянного проживания.
            Ланд Хаус активно применяет в своей работе передовые технологии не только в области строительства, но и в области использования альтернативных (возобновляемых) источников энергии.</p>
            <p>Все объекты компании разрабатываются специалистами, которые имеют огромный опыт работы в строительном комплексе. Среда, место, концепция, предложение- вот те основы, которые закладывает компания при выборе реализации нового проекта, ориентируясь на мнения людей, которым так же не безразличен уровень качества и цена.</p>
            <p>Контакты:<br/>
              <a href="tel:84956655274">+7(495) 665-52-74</a><br/><a href="mailto:mail@landhouse.ru">mail@landhouse.ru</a>
            </p>
        </div>
      </div>
    </div>
    <footer class="b-footer">
      <div class="b-footer-text">Google, 2016 - Условия использвания</div>
    </footer>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
      <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
  </body>
</html>
