fullright()
  width calc(100% - ((100% - 960px) / 2))
  margin-left calc((100% - 960px) / 2)
clearfix()
  &:after
    content ''
    display table
    clear both
lined(height)
  &:after
    content ''
    display block
    width auto
    overflow hidden
    height height
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAMAAACT+SJTAAAABlBMVEUAAABNVWK5VQ45AAAAAXRSTlMAQObYZgAAAA5JREFUeAFjIB4wMpAAAACFAAJkXq3qAAAAAElFTkSuQmCC')
    background-position 0 center
    background-repeat repeat-x
