// Variables
$page-width = 960px

// Colors
$menu-color = #465361
$menu-hover-color = #a4a9af
$wide-color = #4b5360
// Fonts
$daxlineLightFontFamily = 'DaxlinePro-Light', 'PT Sans', Arial, sans-serif
$daxlineFontFamily = 'DaxlinePro', 'PT Sans', Arial, sans-serif
$sansFontFamily = 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$sansCaptionFontFamily = 'PT Sans Caption', 'Helvetica Neue', Helvetica, Arial, sans-serif
$serifFontFamily = 'PT Serif', Georgia, 'Times New Roman', Times, serif
$serifCaptionFontFamily = 'PT Serif Caption', Georgia, 'Times New Roman', Times, serif
