.b-contacts
  position absolute
  width 688px
  height 258px
  left 50%
  top 182px
  margin-left -344px
  padding 36px 0 36px 36px
  background white
  &__desc
    font-size 16px
    font-family $daxlineLightFontFamily
    color rgb(70, 83, 97)
    line-height 1
    
  &__phone
    margin-top 30px
    &-num
      display inline-block
      margin-top 15px
      font-size 30px
      line-height 1
      font-family $daxlineFontFamily
      color rgb(70, 83, 97)
      font-weight bold
      text-transform uppercase
      text-decoration none
  &__email
    margin-top 30px
    &-link
      display inline-block
      margin-top 8px
      font-size 15px
      font-family $daxlineLightFontFamily
      color rgb(120, 194, 71)
      line-height 1
      text-decoration none
