.b-content
  width $page-width
  margin 64px auto
  clearfix()
  &-topline
    height 1px
    background-color #d4d9df
  &_wide
    fullright()
  &__wrapper
    width $page-width
  &__block
    float left
    width 630px
    max-height 310px
    padding 10px 0 0 20px
    overflow hidden
    font-size 14px
    font-family $arialFontFamily
    color rgb(77, 85, 98)
    line-height 1.2
    &_fullwidth
      width auto
    &_left
      float left
      width 300px
    p
      margin-bottom 20px
      padding-right 32px
  &__headline
    float left
    width 330px
    padding-left 24px
    &-header
      font-size 23px
      font-family $daxlineLightFontFamily
      color rgb(70, 83, 97)
      text-transform uppercase
      line-height 1.261

.b-headline-big
  background-color white
  padding-right 50px
  margin-bottom 20px
  &_lined
    position relative
    width 300px
    top -14px
  &__header
    margin-bottom 10px
    font-size 38px
    font-family $daxlineLightFontFamily
    color rgb(70, 83, 97)
    text-transform uppercase
    line-height 1
  &__subheader
    font-size 18px
    font-family $daxlineLightFontFamily
    color rgb(124, 151, 172)
    text-transform uppercase
    line-height 1.611
.b-show-more
  display block
  width 110px
  box-sizing border-box
  padding 8px 0 7px 16px
  position relative
  font-size 9px
  line-height 1
  font-family $daxlineLightFontFamily
  color rgb(70, 83, 97)
  text-transform uppercase
  background-color #e6e7ec
  cursor pointer
  &:after
    content: ''
    position absolute
    right 13px
    top 7px
    width 12px
    height 10px
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAKlBMVEUAAAC7vse7vse7vse7vse7vse7vse7vse7vse7vse7vse7vse7vse7vseHjXd5AAAADXRSTlMADA07Pj9C0+Hj5Ov1QS0FMAAAADBJREFUeAFjgABGBgRg4mZB4rGg8Fi5WdF5HLwwwMMEl2HmYkNiMyPYnAg2AzuYDQBB4gEXSa675QAAAABJRU5ErkJggg==')
