.js-custom-scroll
  .mCustomScrollBox
    .mCSB_dragger_bar
      left -1px
      background-color #4d5562 !important
      width 7px !important
      border-radius 0 !important
    .mCSB_draggerContainer
      width 7px !important
      border 1px solid #babec7 !important
    .mCSB_draggerRail
      background-color transparent !important
