.b-footer
  fullright()
  margin-top 20px
  border-top 1px solid #d4d9df
  &_noline
    margin-top 0
    border-top none
    padding-bottom 45px
  &-text
    font-size 10px
    font-family $daxlineLightFontFamily
    color rgb(75, 83, 96)
    line-height 2.9
    padding-top 18px
