.b-gallery
  position relative
  height 100%
  //&__content
  &_960 .b-gallery__content
    width $page-width
    margin 0 auto
    overflow visible
  &__prev
  &__next
    position absolute
    top 50%
    width 60px
    height 60px
    margin-top -30px
    background-color rgba(50,58,71,0.8)
    background-position center center
    background-size 19px 35px
    background-repeat no-repeat
    cursor pointer
    z-index 1
  &__prev
    left 16px
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAjCAMAAABB9MFTAAAAJ1BMVEUAAAChpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqIZ/1gzAAAADXRSTlMAHiAhPj9AQlV2rev1jb14YAAAACpJREFUeAFjwACMmEIs3MyYQmzDTYiVakJMPJyYgcjBzY4pyE624KggFwDbPwMElMU0OgAAAABJRU5ErkJggg==')
  &__next
    right 16px
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAjCAMAAABB9MFTAAAAJ1BMVEUAAAChpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqIZ/1gzAAAADXRSTlMAHiAhPj9AQlV2rev1jb14YAAAACxJREFUeAFj4GJnwADs3GQLjgpyYApy8jCjC7Fwsw03IVaqCTEhhBCAEUMEAGs5AwUtC5+DAAAAAElFTkSuQmCC')

  
