.b-gallery
  position relative
  overflow hidden
  height 100%
  &-wrapper
    position relative
  &__prev
  &__next
    position absolute
    top 50%
    width 60px
    height 60px
    margin-top -30px
    background-color rgba(50,58,71,0.8)
    background-position center center
    background-size 19px 35px
    background-repeat no-repeat
    cursor pointer
    z-index 1
  &__prev
    left 16px
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAjCAMAAABB9MFTAAAAJ1BMVEUAAAChpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqIZ/1gzAAAADXRSTlMAHiAhPj9AQlV2rev1jb14YAAAACpJREFUeAFjwACMmEIs3MyYQmzDTYiVakJMPJyYgcjBzY4pyE624KggFwDbPwMElMU0OgAAAABJRU5ErkJggg==')
  &__next
    right 16px
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAjCAMAAABB9MFTAAAAJ1BMVEUAAAChpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqKhpqIZ/1gzAAAADXRSTlMAHiAhPj9AQlV2rev1jb14YAAAACxJREFUeAFj4GJnwADs3GQLjgpyYApy8jCjC7Fwsw03IVaqCTEhhBCAEUMEAGs5AwUtC5+DAAAAAElFTkSuQmCC')
  &_main
    .b-gallery
      &__list
        width $page-width
        margin 0 auto
        overflow hidden
    ~ .b-gallery__prev
    ~ .b-gallery__next
      background-color transparent
      background-size 30px 60px
    ~ .b-gallery__prev
      left 145px
    ~ .b-gallery__next
      right 145px
  &_mapinfo
    width 250px
    height 200px
    .b-gallery
      &__prev
      &__next
        width 39px
        height 39px
        margin-top -19px
        background-size 12px 22px
      &__prev
        left 20px
      &__next
        right 20px
  &__list
    width 20000em
    position relative
    list-style none
    margin 0
    padding 0
    height 100%
  &__item
    display block
    height 100%
    float left
