.g-header
  font-size 23px
  font-family $daxlineLightFontFamily
  color rgb(70, 83, 97)
  text-transform uppercase
  line-height 1.261
.g-text-std
  font-size 14px
  font-family $arialFontFamily
  color rgb(77, 85, 98)
  line-height 1.2
  text-align left
  p
    margin-bottom 20px
