header
  width $page-width
  height 232px
  margin 0 auto
  padding-top 48px
.b-logo
  display block
  width 240px
  height 41px
  margin-bottom 32px
  background-image url('/assets/img/logo.png')
.b-topmenu
  &__item
    list-style none
    height 24px
    a
      display inline-block
      padding 0 14px 0 10px
      margin-bottom 5px
      height 24px
      box-sizing border-box
      font-size 15px
      font-family "DaxlinePro"
      vertical-align middle
      text-transform uppercase
      line-height: 24px;
      text-decoration none
      color $menu-color
      border 1px solid transparent
      &:hover
        color $menu-hover-color
        border-color $menu-hover-color
    &_active a
    &_active a:hover
      background-color #4d5562
      color white
