.b-vector-map
  position relative
  width 860px
  height 460px
  &-info
    position absolute
    left 0
    top 0
    bottom 0
    width 250px
    background-color rgba(30,36,46,0.9)
    &__top
      height 110px
      padding 38px 32px 41px 40px
    &__bottom
      padding 24px 32px 41px 40px
    &__topline
      display inline-block
      padding 7px 0 7px 0
      font-size 15px
      font-family $daxlineLightFontFamily
      color white
      text-transform uppercase
      line-height 1
    &__num
      display inline-block
      float right
      width 25px
      height 25px
      font-size 15px
      font-family $daxlineLightFontFamily
      color rgb(77, 85, 98)
      text-align center
      text-transform uppercase
      line-height: 25px
      background-color white
    &__state
      display inline-block
      width 127px
      height 19px
      margin-top 7px
      font-size 11px
      font-family $daxlineLightFontFamily
      text-align center
      line-height 19px
      color white
      background-color #9cb815
      &_booked
        background-color #dc704c
    &__size
      font-size 15px
      font-family $daxlineLightFontFamily
      color white
      line-height 23px
      vertical-align bottom
      text-transform none
      em
        font-size 23px
        font-style normal
        font-weight bold
        text-transform uppercase
    &__text
      margin-top 12px
      font-size 11px
      font-family $daxlineLightFontFamily
      line-height 15px
      color white
#vector-map
  width 100%
  height 100%
  background-image url('/assets/img/vector-map-bg.png')
  background-position top left
  background-repeat no-repeat
  &__helper
    position absolute
    right 0
    top 0
    background black
    color white
    &.debug-mode
      color red
