.b-wide
  height 460px
  background $wide-color
  &_contacts
    position relative
    height 660px
    margin-bottom 195px
    background-image url('/assets/img/bg_contacts.png')
    background-size cover
    background-position center center
    background-repeat no-repeat
  &_documents
    overflow visible
  &_googlemap
    background-color transparent
  &-content
    width $page-width
    margin 0 auto
  &-wrapper
    position relative
    height 100%
    fullright()
    padding-left $lefttab-width
