.b-wide
  background $wide-color
  &-content
    width $page-width
    margin 0 auto
  &-gallery
    &__content
      width $page-width
      margin 0 auto
      overflow visible
    //&__prev
    //&__next
