webfont('DaxlinePro-Light', 'daxline-pro-light', 'DaxlinePro-Light', 'normal')
webfont('DaxlinePro', 'daxline-pro-regular', 'DaxlinePro-Regular', 'normal')
webfont('DaxlinePro', 'daxline-pro-bold', 'DaxlinePro-Bold', 'bold')
