// Hello! 
//import mixins
@import 'mixins/fonts'
@import 'mixins/resolutions'
@import 'mixins/variables'
@import 'mixins/custom'

//import stuff
@import 'prepare/reset'
@import 'prepare/custom-scroll.css'
@import 'fonts/daxline'

@import 'blocks/*'

body 
  font-family 'WebServeroff'
  width 100%
  height 100%

//apply media queries
apply_media_cache()
